/* iconfont */
@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('iconfont.woff') format('woff'), /* chrome, firefox */ url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

/* latin */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    src: local('Titillium WebSemiBold'), local('TitilliumWeb-SemiBold'), url(anMUvcNT0H1YN4FII8wpr46gJz9aNFrmnwBdd69aqzY.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
    content: "\e6f4";
}

.icon-search:before {
    content: "\e60d";
}

.icon-up:before {
    content: "\e605";
}

/* Effect 4: bottom border enlarge */
.cl-effect-4 a {
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
}

.cl-effect-4 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #666;
    content: '';
    opacity: 0;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    transform: translateY(-5px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
    height: 1px;
    opacity: 1;
    transform: translateY(0px);
}

/* Effect 4: bottom border enlarge End*/

/*For pjax*/
#main-container, .main-header a, .main-header input, #footer-content {
    visibility: hidden;
}

body {
    position: relative;
    font-family: 'Titillium Web', Helvetica, Arial, sans-serif, "Microsoft YaHei", 'Helvetica Neue';
    line-height: 2;
    color: #444;
    font-size: 14px;
    /*background: #f1f4f6;*/
    word-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
}

* {
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

::selection {
    background: #efefef;
}

a {
    color: #666;
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 15px 0;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

a:hover, a:focus {
    color: #111;
}

li {
    list-style: none;
}

.title1, .title2 {
    margin: 10px 0;
    color: #333;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-size: 1.6em;
    font-weight: 400;
}

.title3 {
    text-align: center;
}

.title1 a {
    letter-spacing: 1px;
    color: #333;
}

.title1 a:hover {
    color: #333 !important;
}

.text-muted {
    color: #bbb;
}

.main-header {
    width: 100%;
    position: fixed;
    transition: all 0.3s ease;
    z-index: 9999;
    margin-top: 30px;
}

.main-header.animation {
    margin-top: 0;
    background: #222;
}

.main-logo-wrap {
    margin-right: 30px;
    float: left;
    font-size: 1.3em;
}

.main-logo-wrap a {
    font-size: 1.4em;
}

.main-header.animation .main-logo-wrap a, .main-header.animation ul li a {
    color: #eee;
    background: transparent;
}

.main-header.animation .search-form-input {
    background: url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAANwAAADcBYx2BhQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEuSURBVDiNpVI7asNAEH0zWtKkEAhVyTEMqoMP4DZF2vgIPoMLXyGQKuBAKh8grtwEDMGHSBNrvG6DtC+NJOSfgp0HwzJvdt7OzoyQxH/g9nwxs0cRGQDoVdyS5CxJkicAB69JXcF6vb6JougFwJWITIqi+AAA51xGcgTgpyzLhzRNv3YUSIKkmNnczMYkteLapmY2NrM5SWnHQBJ5ng/NbHEiuS2yyPN82OYVAERkICITAKGjX0FEJlV/Gmh19uo/d6G602tzeuLuSZCMjgksnXPZX8nOuUxVVwcCJGfVqLoqUpKjEMJ0v6Rzxvi5Hz9nka4B3KrqfRzH73UBjUDtt1eZZKSqqxDCNEmS5+12exdCeN0R6Vico+a975vZt/e+32ziJSKbzeZtpweX4he+Al+5D56vRQAAAABJRU5ErkJggg==
    ) no-repeat scroll 155px 2px;
    color: #eee;
}

.main-logo-wrap a:hover {
    color: #000;
}

.main-header ul {
    margin-left: 20px;
}

.main-header ul li {
    float: left;
    margin-right: 20px;
}

.main-header ul li a {
    padding: 13px 12px;
}

.main-header ul li a:hover {
    background: #efefef;
    color: #000;
}

@media (max-width: 550px) {
    .search-form {
        display: none;
    }

    .title1, .title2 {
        line-height: 1.3em;
        font-size: 1.3em;
    }
}

.search-form-input {
    float: right;
    height: 20px;
    line-height: 20px;
    color: #666;
    margin-top: 16px;
    width: 150px;
    padding-right: 22px;
    border: 1px solid transparent;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAANwAAADcBYx2BhQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAFtSURBVDiNpZO/SgNBGMRnPuVI6QsEGyuJmmQ3V9pIfIQUFhZX+AABS8FCO/EBAlr6AJZqGYPehTQiiJBCBMs0Nql2bC5iLqIRBxaW3Z3ffrN/KAn/0WJxoF6vb5pZAsADKAN4kJRKOhkMBm/F9TbpVCqVyDl3amYXAO4B7IYQVgAckByb2cB7v1MEcBLBOXdKcjWKop1erzcqLozjuBpCuDSzJE3TmylAXvZFFEXr35kn8t5vA+iUSqW1brf7/hkhz3z8kxkA+v3+FYCn8Xi8VTwDn+eeR7eSfBFQDiG8zuMm+WJmy0XAg5lV5gFI2pD0PAWQlAJo/mZutVoLAJok74qAEwBJHMfVnwDD4bAtaZRl2fUUIH9h7RDCZX5VMzs75/ZJHpG8+TrHr38hN58BeARwS/JF0gaApqRRbj4kuZdl2fkMAABqtdqSmW2TrJIsS3omeTcpu9FoJJI6nxBJf27e+8Q515E0W8Ff9QH9qMrXMGerDgAAAABJRU5ErkJggg==) no-repeat scroll 155px 2px;
}

.search-form-input:focus {
    border: 1px solid #ccc;
}

.main-footer {
    padding-top: 180px;
    height: 300px;
    text-align: center;
}

.gap {
    color: #999;
    margin: 0 10px;
    font-weight: 800;
}

figure, .hljs, code {
    background: #1e2328;
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 35px;
    overflow-x: auto;
}

figure pre, code pre {
    font-family: Consolas, Monaco, 'Andale Mono', monospace, Arial, sans-serif;
    color: #f8f8f2;
    font-size: 0.8em;
}

.content-wrap {
    padding-top: 150px;
}

.content-wrap h3, .content-wrap h4, .content-wrap h5, .content-wrap h6 {
    font-weight: 400;
    color: #000;
}

.content-wrap img {
    max-width: 100%;
    height: auto;
}

.article-directory {
    margin: 50px 0 30px;
    border: 1px dashed #656565;
}

.article-directory .toc-icon {
    float: right;
    margin-right: 27px;
    font-size: 3em;
    color: #41B883;
}

.article-directory ol.toc {
    padding: 20px 30px;
}

.article-directory li.toc-item {
    line-height: 30px;
}

.article-meta {
    margin-top: -5px;
    margin-bottom: 13px;
}

.article-content.index {
    border-bottom: 1px solid #EBEEEF;
}

.article-content, .tags-content {
    font-size: 1.1em;
    padding: 10px 0 50px;
}

.article-content h2:before, h3:before, h4:before, h5:before, h6:before {
    content: '#';
    margin-right: 5px;
    color: #41B883;
}

.article-content a, .read-more, .read-more:hover {
    border-bottom: 1px solid #41B883;
    color: #41B883;
    font-weight: 600;
}

.read-more {
    position: relative;
    top: -25px;
    border-bottom: none;
}

.tags-content {
    text-align: center;
}

.tags-content a {
    border-bottom: 1px solid #ccc;
    margin: 10px;
    display: inline-block;
}

.tags-content a:hover {
    border-bottom-color: #333;
    color: #333 !important;
}

.scroll-to-top {
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    background: #dfdfdf;
    border-radius: 50%;
    text-align: center;
    color: #666;
}

.scroll-to-top i {
    font-size: 1em;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.page-nav {
    margin-top: 50px;
    text-align: center;
}

.page-nav .extend, .page-nav .info {
    display: inline-block;
    width: 60px;
    height: 40px;
    line-height: 40px;
    background: #eee;
    color: #bbb;
    padding: 0;
    margin: 0;
}

.page-nav .prev, .page-nav .next {
    color: #666;
}

.page-nav .prev:hover, .page-nav .next:hover {
    background: #41B883;
    color: #fff;
}

.layer-full {
    display: none;
    position: fixed;
    top: 0;
    z-index: 99999;
    background: #FFF;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}